<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../components/interest.css" />
    <title>Interests</title>
  </head>
  <body>
    <div class="container interests-form-container">
      <div id="main">
        <form id="interestsForm">


          <div id="formDiv">
            <div id="form-profile-img">
              <h2>CHOOSE YOUR PROFILE IMAGE</h2>
              <section class="profile-predefined-img-section">
                <img
                  src="../images/user-image/profile-predefined-img-1.png"
                  alt="User Image"
                  class="profile-predefined-img selected-img"
                  id="profile-predefined-img-1"
                />
                <img
                  src="../images/user-image/profile-predefined-img-2.png"
                  alt="User Image"
                  class="profile-predefined-img"
                  id="profile-predefined-img-2"
                />
                <img
                  src="../images/user-image/profile-predefined-img-3.png"
                  alt="User Image"
                  class="profile-predefined-img"
                  id="profile-predefined-img-3"
                />
                <img
                  src="../images/user-image/profile-predefined-img-4.png"
                  alt="User Image"
                  class="profile-predefined-img"
                  id="profile-predefined-img-4"
                />
                <img
                  src="../images/user-image/profile-predefined-img-5.png"
                  alt="User Image"
                  class="profile-predefined-img"
                  id="profile-predefined-img-5"
                />
                <img
                  src="../images/user-image/profile-predefined-img-6.png"
                  alt="User Image"
                  class="profile-predefined-img"
                  id="profile-predefined-img-6"
                />
                <img
                  src="../images/user-image/profile-predefined-img-7.png"
                  alt="User Image"
                  class="profile-predefined-img"
                  id="profile-predefined-img-7"
                />
                <img
                  src="../images/user-image/profile-predefined-img-8.png"
                  alt="User Image"
                  class="profile-predefined-img"
                  id="profile-predefined-img-8"
                />
              </section>
            </div>

            <div id="form-interests">
              <div>
                <div id="headChoosePage">
                  <h2>EXPLORE YOUT INTERESTS</h2>
                </div>


                <div class="centerDiv"><h3>Try to input some keyword here:</h3></div>

                <div id="form-interests-textinput">
                  <input type="text" list="interestsTextList" name="interestsText" id="interestsText" />
                  <button
                  id="interestsTextButton"
                  type="button">
                  SELECT
                  </button>
                  <datalist id="interestsTextList">

                  </datalist>

                  <input type="hidden" id="username" name="username" value="user1" />
                </div>
                <div id="interests">
                  <div class="centerDiv"><h3>Or select from below:</h3></div>

                  <div id="interestsButtons"></div>
                  <div class="button-wrapper">
                    <button type="button" id="expandButton">EXPAND</button>
                  </div>
                  <div class="button-wrapper">
                    <button type="button" id="closeButton">CLOSE</button>
                  </div>
                </div>
                


              </div>
            </div>

            <div id="form-account">
              <div id="account">
                <h2>Link with your ActivityPub account:</h2>
                <input
                  type="email"
                  placeholder="xxx@mastodon.social"
                  id="mastodonInput"
                />
              </div>
            </div>


          <div id="nextPage">
            <button type="button" id="nextPageButton">
              NEXT
            </button>
          </div>
        </form>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        let images = document.querySelectorAll(".profile-predefined-img");
        images.forEach((img) => {
          img.addEventListener("click", function () {
            images.forEach((i) => i.classList.remove("selected-img"));
            this.classList.add("selected-img");
          });
        });
      });
    </script>

    <script src="../script.js"></script>
    <script type="module" src="../components/interests.js"></script>
  </body>
</html>
