<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/*" href="../images/logo.ico" sizes="32x32">
    <link rel="stylesheet" href="../components/login.css">
    <link rel="stylesheet" href="../style/styles.css">
    <title>Login</title>
</head>

<body>
    <div class="wrapper">

        <div class="login-panel">
            <div class="logo-container">
                <img src="../images/logo-name.png" alt="Logo" class="logo">
            </div>
            <form id="loginForm" class="login-form">
                <h2>Log In</h2>
                <input type="text" id="username" name="username" placeholder="User Name" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button type="submit" id="login-register-button">Log In</button>

                <p>New user or forget your password? <a href="register.html">Register here</a></p>
            </form>
        </div>


        <div class="info-panel">
            <div class="info-panel-content">
                <h1>Welcome to MastoMatch</h1>
                <p>A recommendation website to mastodon contents.</p>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 10xDevps Group. All Rights Reserved.</p>
    </footer>

    <script src="../script.js"></script>
</body>

</html>
