<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/*" href="../images/logo.ico" sizes="32x32">
    <link rel="stylesheet" href="../style/styles.css" />
    <link rel="stylesheet" href="../components/profile.css" />
    <title>Edit Profile</title>
  </head>
  <body>
    <div class="container-profile">
      <div id="main">
        <form id="interestsForm">
          <div id="formDiv">
            <div id="form-profile-img">
              <h2>CHOOSE YOUR PROFILE IMAGE</h2>
              <section class="profile-predefined-img-section">
                <div class="profile-image-container selected">
                  <img src="../images/user-image/profile-predefined-img-1.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-1" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-2.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-2" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-3.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-3" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-4.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-4" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-5.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-5" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-6.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-6" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-7.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-7" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-8.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-8" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-9.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-9" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-10.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-10" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-11.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-11" />
                </div>
                <div class="profile-image-container">
                  <img src="../images/user-image/profile-predefined-img-12.png" alt="User Image"
                    class="profile-predefined-img" id="profile-predefined-img-12" />
                </div>
              </section>
            </div>

            <div id="form-interests">
              <div>
                <div id="headChoosePage">
                  <h2>EXPLORE YOUR INTERESTS</h2>
                </div>


                <div class="centerDiv"><h3>Try to input some keyword here:</h3></div>

                <div id="form-interests-textinput">
                  <input type="text" list="interestsTextList" name="interestsText" id="interestsText" />
                  <button
                  id="interestsTextButton"
                  type="button">
                  SELECT
                  </button>
                  <datalist id="interestsTextList">

                  </datalist>

                  <input type="hidden" id="username" name="username" value="user1" />
                </div>
                <div id="interests">
                  <div class="centerDiv"><h3>Or select from below:</h3></div>

                  <div id="interestsButtons"></div>
                  <div class="button-wrapper">
                    <button type="button" id="expandButton">Discover More</button>
                  </div>
                  <div class="button-wrapper">
                    <button type="button" id="closeButton">Collapse</button>
                  </div>
                </div>
                


              </div>
            </div>
            <!-- we don't offer changing activitypub account now, so delete it temporarily -->
            <!-- <br /> -->
            <!-- <div id="account"> -->
              <!-- <h2>(Optional) Link with your ActivityPub account:</h2> -->
              <!-- <input type="email" placeholder="xxx@mastodon.social" /> -->
            <!-- </div> -->
          </div>
        </form>
        <div id="profileButtonContainer">
          <button class="profileButton" id="profileSaveButton">SAVE</button>
          <!-- <button class="profileButton" id="profileCloseButton">CLOSE</button> -->
        </div>

      </div>
    </div>

    <script>

    </script>

    <script src="../script.js"></script>
    <!-- <script type="module" src="../components/interest.js"></script> -->
    <script type="module" src="../components/profile.js"></script>
  </body>
</html>
