<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styles.css" />
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="../style/main.css.map" />
    <link rel="stylesheet" href="../style/recommendation.css" />
    <link rel="stylesheet" href="../components/account.css" />
    <link rel="stylesheet" href="../components/post.css" />
    <link rel="stylesheet" href="../components/card.css" />
    <title>Recommendations</title>
  </head>
  <body>
    <div class="container">
      <div id="container-profile">
        <div id="main">
          <form id="interestsForm">
            <div id="formDiv">
              <div id="interestsDiv">
                <button
                  id="interestsTextButton"
                  type="button"
                  onclick="closeProfile()">
                  Close
                </button>

              </div>
              <input
                type="hidden"
                id="username"
                name="username"
                value="user1"
              />


              <input
                type="hidden"
                id="mastodonInput"
                name="mastodonInput"
                value=""
              />

              <div id="interests">
                <div id="interestsButtons"></div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex text-center">
        <section
          class="profile-section col-3 d-flex flex-column align-items-center"
        >
          <div id="userProfile">
            <h2>PROFILE</h2>
            <br/>
            <h4>User Name</h4>
            <div id="userProfileUsername"></div>
            <br/>
            <h4>Interests</h4>
            <div id="userProfileInterests"></div>
          </div>
          <!-- <img class="profile-img" src="../images/la+.jpg" /> -->
          <button class="edit-profile-btn" id="openProfileButton" onclick="editProfile()">
            Edit Profile
          </button>
          <button 
          id="logOutButton"
          type="button">
          LOG OUT
        </button>
        </section>
        <div class="col-9">
          <section class="header-section">
            <h2>Recommendation</h2>
            <!-- <button id="refreshButton" type="button" onclick="updateInterests()">Refresh</button> -->
          </section>
          <section class="recommendation-section">
            <div id="accountContainer">
              <img src="../images/loading.gif" alt="loading..." id="accountContainerLoading">
            </div>
            <div id="postContainer">
              <img src="../images/loading.gif" alt="loading..." id="postContainerLoading">
            </div>
            <div id="recommendationContainer">
              <img src="../images/loading.gif" alt="loading..." id="recommendationContainerLoading">
            </div>
          </section>
        </div>
      </div>
    </div>

    <script src="../script.js"></script>
    <script type="module" src="../components/interests.js"></script>
    <script type="module" src="../components/recommendation.js"></script>
  </body>
</html>