<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styles.css" />
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="../style/main.css.map" />
    <link rel="stylesheet" href="../style/recommendation.css" />
    <link rel="stylesheet" href="../components/account.css" />
    <link rel="stylesheet" href="../components/post.css" />
    <link rel="stylesheet" href="../components/card.css" />
    <title>Recommendations</title>
  </head>
  <body>
    <div class="header">
      <div id="headerContainer">
        <!-- website logo and name-->
        <div id="userProfileLogo">
          <img src="../images/logo-name.png" width="160em" src="logo">
        </div>
        <!-- empty -->
        <div class="header-col-4"></div>
        <div class="header-col-4"></div>
        <!-- user name and mastodon account-->
        <div id="userProfileUsername"></div>
        <div id="userProfileMastodonAccount"></div>
        <!-- user profile img -->
        <div id="userProfileImage" height="20px"></div>
        

        <div class="header-col-1 button-wrapper">
          <button class="edit-profile-btn" id="openProfileButton">
            EditProfile
            </button>
            </div>
            <div>
                
          <button id="logOutButton" type="button">LogOut</button>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="container-profile">
        <div id="main">
          <form id="interestsForm">
            <div id="formDiv">
              <div id="interestsDiv">
                <button
                  id="interestsTextButton"
                  type="button"
                  onclick="closeProfile()"
                >
                  Close
                </button>
              </div>
              <input
                type="hidden"
                id="username"
                name="username"
                value="user1"
              />

              <input
                type="hidden"
                id="mastodonInput"
                name="mastodonInput"
                value=""
              />

              <div id="interests">
                <div id="interestsButtons"></div>
              </div>

              <div id="profile">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="d-flex text-center">
        <div class="fake-col-9">
          <section class="header-section">
            <h1>Recommendation</h1>
            <button id="get-credential-btn">Link to Mastodon</button>
          </section>
          <section class="interests-section">
            <div id="userProfileInterests"></div>
          </section>
          <section class="recommendation-section">
            <div id="accountContainer"></div>
            <div id="postContainer"></div>
            <div id="recommendationContainer"></div>
          </section>
        </div>
      </div>
      <button id="backToTopButton" onclick="scrollToTop()">Back to Top</button>

      <iframe id="profileEdittion" name="editProfile" src="profile.html"></iframe>
    </div>

    <script src="../script.js"></script>
    <script type="module" src="../components/interests.js"></script>
    <script type="module" src="../components/recommendation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
