@import url('../styles.css');

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendation-section {
    display: flex;
    flex-direction: column;
}

.recommendation-section div {
    border: 1px solid var(--clr-black);
    border-radius: .25rem;
    padding: 10px;
    margin: 10px;
} 