<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="stylesheet" href="./recommendation.css" />
    <title>Recommendations</title>
  </head>
  <body>
    <div class="container">
      <div class="header-section">
        <h1>Recommendion</h1>
        <button type="submit">refresh</button>
      </div>
      <!-- Dummy recommendations as bubbles -->
      <section class="recommendation-bubbles" id="recommendationBubbles">
        <!-- Recommendations will be added here dynamically -->
        <div id="listContainer1"></div>
        <div id="listContainer2"></div>
        <div id="listContainer3"></div>
      </section>
    </div>

    <script src="../components/recommendation.js"></script>
  </body>
</html>
