<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styles.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <form id="registerForm">
            <h2>Create an Account</h2>
            <label for="newUsername">Username:</label>
            <input type="text" id="newUsername" name="username" required>

            <label for="newPassword">Password:</label>
            <input type="password" id="newPassword" name="password" required>

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <button type="button" onclick="register()">Register</button>
            <p>Already have an account? <a href="login.html">Login here</a></p>
        </form>
    </div>

    <script src="../script.js"></script>
</body>
</html>
