.people-card {
  background: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 20px;
  max-width: 300em;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: transform 0.3s ease;
}

.people-card:hover {
  transform: scale(1.03);
}

.people-card-upper-section {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.people-card-info-section {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font: 1em;
  line-height: normal;
}

.people-card-name-username-container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin: 0;
}

.people-card-followers-following-container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin: 0;
}

.people-card-avatar {
  width: 60px;
  height: 60px;
  border-radius: 20%;
}

.people-card-bio {
    text-align: left;
}

.people-card-lower-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.people-card-follow-button {
  margin-left: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.people-card-profile-link:hover,
.people-card-follow-button:hover {
  color: #01796f;
  transform: scale(1.1);
}